---
import DeckyardMark from './DeckyardMark.astro';
import { ui, localizePath, type Lang } from '../i18n/ui';

interface Props {
  lang: Lang;
}
const { lang } = Astro.props;
const t = ui[lang].footer;
const year = new Date().getFullYear();
const blogHref = localizePath('/blog/', lang);
const copyright = t.metaCopyright.replace('{year}', String(year));
---

<footer class="site-footer">
  <div class="container">
    <div class="footer-inner">
      <div>
        <p class="footer-brand"><DeckyardMark size={26} /> Deckyard</p>
        <p class="footer-tag">{t.tagline}</p>
      </div>

      <div class="footer-links">
        <div>
          <h4>{t.followHeading}</h4>
          <ul>
            <li><a href={blogHref}>{t.followBlog}</a></li>
            <li><a href="/rss.xml">{t.followRss}</a></li>
          </ul>
        </div>
        <div>
          <h4>{t.productHeading}</h4>
          <ul>
            <li><a href="/docs/creating/">{t.productDocs}</a></li>
            <li><a href="https://github.com/jaapstronks/deckyard" target="_blank" rel="noreferrer">{t.productGithub}</a></li>
            <li><a href="https://dreamkit.eu" target="_blank" rel="noreferrer">{t.productDreamkit}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-meta">
      <span>{copyright}</span>
      <span>{t.metaMade}</span>
    </div>
  </div>
</footer>
